@media  screen and (min-width: 1200px) {
#nav>ul{width: 1200px;margin: 0 auto;}
#part1-con{
	width: 1200px;
	margin: 0 auto;
}
.font1{
	font-size:28px;
	width: 1200px;
}
.font2{
	font-size: 19px;
	width: 1200px;
}
.font5{
	width: 1200px;
	font-size: 19px;
}
#part2-con{
	width: 800px;
	height: 100%;
	margin: 0 auto;
}
.font6{
	width: 800px;
	font-size: 36px;
}
.font7{
	font-size: 22px;
	width: 800px;
}
.font8{
	font-size: 22px;
	width: 800px;
}
.c1-pic{
	background: url(../img/c1_big.jpg);
	width: 800px;
	height: 453px;

}
#part3-con{
	width: 800px;
	height: 100%;
	margin: 0 auto;
}
.c2-pic{
	background: url(../img/c2_big.jpg) no-repeat;
	width: 800px;
	height: 453px;

}
#part4-con{
	width: 800px;
	height: 100%;
	margin: 0 auto;
}
.c3-pic{
	background: url(../img/c3_big.jpg) no-repeat;
	width: 800px;
	height: 400px;
	position: relative;
	top: 130px;
}
.part5{
	height: 580px;
}
.part5-con{
	width: 500px;
	height: 500px;
}
.font9{
	font-size: 34px;
	letter-spacing: 2px;
}
.font10{
	font-size: 18px;
}
.c4-pic{
	width: 500px;
	height: 300px;
	background: url(../img/c4_big.jpg) -380px -200px;
}
.part6{
	height: 580px;
}
.part6-con{
	width: 750px;
	height: 460px;
}
.c5-pic{
	width: 750px;
	height: 250px;
	background: url(../img/c5_big.jpg) -250px -250px;
}
.part7{
	height: 580px;
}
.part7-con{
	width: 540px;
	height: 380px;
}
.c6-pic{
	width: 520px;
	height: 250px;
	background: url(../img/c6_big.jpg)no-repeat -370px -250px;
	position: relative;
	top: 200px;
}
.part8{
	height: 580px;
	background: url(../img/c8_big.jpg)-150px;
}
.part8-con{
	width: 430px;
	height: 200px;
}
.part9{
	height: 580px;
}
.part9-con{
	width: 450px;
	height: 500px;
}
.c9-pic{
	width: 450px;
	height: 360px;
	background:url(../img/c9_big.jpg)-400px -200px;
}
.part10{
	height: 580px;
}
.part10-con{
	width: 450px;
	height: 500px;
}
.c10-pic{
	width: 450px;
	height: 350px;
	background:url(../img/c10_big.jpg)no-repeat;
}
#part11-con{
	width: 1000px;
}
}
